<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logFile" xsi:type="File" fileName="blowfish.log"/>
    <target name="logConsole" xsi:type="Console"/>
  </targets>
  <rules>
    <logger name="*" minlevel="trace" writeTo="logConsole" />
  </rules>
</nlog>