<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="rawLogFile" xsi:type="File" fileName="dungeon.log" deleteOldFileOnStartup="true" />
    <target name="runLogFile" xsi:type="File" fileName="run.log" deleteOldFileOnStartup="true" />
    <target name="logconsole" xsi:type="Console" />
    <!--<target name="logtextbox" xsi:type="FormControl" append="true" controlName="txtBoxOutput" formName="FormMain" />-->
  </targets>

  <rules>
    <logger name="RAW" minlevel="Trace" writeTo="rawLogFile" />
    <logger name="COMPACT" minlevel="Debug" writeTo="logconsole,runLogFile" />
    <!--<logger name="*" minlevel="Debug" writeTo="logtextbox" />-->
  </rules>

</nlog>
